body
{
    background-image: url(images/imagemfundo.jpg);
    /* background-image: url(/images/fundo.jpg); */
    margin: auto;
}

header #top{
    background: purple;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px;
}

header #top .topleft img{
    max-width: 80px;
    max-height: 80px;
    height: auto;
    width: auto;
    /*
    mid
        #inputBox .sobrenome_usuario
    /mid
    */
}


body #mid{
        background-color: rgba(240, 248, 255, 0.8); 
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 10px;
        border-radius: 10px;
     

}


.legend{
    font-family: 'Roboto Mono';

}

.inputBox{
    font-family: 'Arial';
}

a{
    font-family: 'Arial';
}

a:hover{
    color: yellow;
}

#submit{
    background-color: aqua;
    position: relative;
    border: none;
    padding: 13px;
    width: 100%;
    border-radius: 9px;
    font-size: 13px;
    font-family: 'Arial';
    cursor: pointer;
    transition: width .5s,
    border-radius .5s;
 }

 #submit *{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .25;
 
 }
 
 .icon{
    opacity: 0;
 }
 
 #submit:focus .icon{
    opacity: 1;
    transition-delay: .5s;
 }
 
 #submit:hover{
   background-color: aquamarine;
 }
 
 #submit {
  transition: all 0.3s ease;
 }
 #submit:hover {
   box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
 }

select{
    width: 178.67px
}
