body{
    font-family: 'Roboto Mono';
    background-image: url(images/imagemfundo.jpg); 
    margin: auto;
 }
 
 header #top{
    background-color: purple;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px;
 
 }
 
 header #top .topleft img{
    max-width: 80px;
    max-height: 80px;
    height: auto;
    width: auto;
 
 }
 
 body #mid .inputcontent{
    background-color: rgba(240, 248, 255, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    border-radius: 10px;
 
 }
 
 body #mid .inputcontent a{
   color: black;
   text-decoration: none; 
   font-size: 13px;
 }
 
 body #mid .inputcontent a:hover{
    color: white;
    text-decoration: none; 
 
 }
 
 input{
    padding: 13px;
    border: none;
    outline: none;
    font-size: 13px;
 }
 
  .inputSubmit{
    background-color: aqua;
    position: relative;
    border: none;
    padding: 13px;
    width: 100%;
    border-radius: 9px;
    font-size: 13px;
    font-family: 'Roboto Mono';
    cursor: pointer;
    transition: width .5s,
    border-radius .5s;
 }
 
 .inputSubmit *{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .25;
 
 }
 
 .icon{
    opacity: 0;
 }
 
 .inputSubmit:focus .icon{
    opacity: 1;
    transition-delay: .5s;
 }
 
 .inputSubmit:hover{
   background-color: aquamarine;
 }
 
 .inputSubmit {
  transition: all 0.3s ease;
 }
 .inputSubmit:hover {
   box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
 }